Type conversion

In [ ]:
str_number = "123"
int_number = int(str_number)
float_number = float(str_number)

In [ ]:
first_name = "Anagha"
last_name = "anu"
age = 21
height = 5.7
is_student = True

In [ ]:
print(f"Name: {first_name} {last_name}")
print(f"Age: {age}")
print(f"Height: {height} feet")
print(f"Student: {is_student}")

Name: Anagha anu
Age: 21
Height: 5.7 feet
Student: True

Type Conversion

In [ ]:
age_str = str(age)
height_int = int(height)
print(f"Age as String: {age_str}")
print(f"Height as integer: {height_int}")

Age as String: 21
Height as integer: 5

Operators&Basic operations

In [ ]:
a = 10b = 3

print(f"Addition {a} + {b} ={a+b}")
print(f"Subtraction {a} - {b} ={a-b}")
print(f"Multiplication {a} * {b} ={a*b}")
print(f"Division {a} / {b} ={a/b}")
print(f"Floor Division {a} // {b} ={a//b}")
print(f"Modulus {a} % {b} ={a%b}")
print(f"Exponentiation {a} ** {b} ={a**b}")

Addition 10 + 3 =13
Subtraction 10 - 3 =7
Multiplication 10 * 3 =30
Division 10 / 3 =3.3333333333333335
Floor Division 10 // 3 =3
Modulus 10 % 3 =1
Exponentiation 10 ** 3 =1000

In [ ]:
result = 2 + 3 * 4 ** 2 -1
print(f"2 +3 * 4 ** 2 - 1 = {result}")

2 +3 * 4 ** 2 - 1 = 49

In [ ]:
x =5
y = 20

print(f"{x} == {y}: {x == y}")
print(f"{x} != {y}: {x != y}")
print(f"{x} < {y}: {x < y}")
print(f"{x} > {y}: {x > y}")
print(f"{x} <= {y}: {x <= y}")
print(f"{x} >= {y}: {x >= y}")

5 == 20: False
5 != 20: True
5 < 20: True
5 > 20: False
5 <= 20: True
5 >= 20: False

In [ ]:
name1 = "Alice"
name2 = "Bob"
print(f"'{name1}' < '{name2}': {name1 <name2}")

'Alice' < 'Bob': True

In [ ]:
p = True
q = False

print(f"p and q: {p and q}")
print(f"p or q: {p or q}")
print(f"not p: {not p}")

p and q: False
p or q: True
not p: False

In [ ]:
age = 20
has_license = True
can_drive = age >= 18 and has_license
print(f"can drive: {can_drive}")

can drive: True

In [ ]:
score = 85
is_present= True
can_pass = score >= 80 and is_present
print(f"can pass: {can_pass}")

can pass: True

In [ ]:
age = 25
annual_income = 50000
credit_score = 720
has_collateral = True

In [ ]:
min_age = 18
min_income = 30000
min_credit_score =650

In [ ]:
print(f"age: {age >= min_age}")
print(f"annual_income: {annual_income < min_income}")
print(f"credit_score: {credit_score > min_credit_score}")

age: True
annual_income: False
credit_score: True

creating lists

In [ ]:
fruits = ["apple","banana","orange","grape"]
numbers = [10,20,30,40,50]
mixed_data = [1,"Hello",3.14,True]

In [ ]:
print(f"First fruit: {fruits[0]}")
print(f"Last fruit: {fruits[-1]}")
print(f"All except first: {fruits[-2]}")

First fruit: apple
Last fruit: grape
All except first: orange

In [ ]:
print(f"First 2 fruits: {fruits[0:2]}")
print(f"Last 2 fruits: {fruits[-2:]}")
print(f"All except first: {fruits[1:]}")

First 2 fruits: ['apple', 'banana']
Last 2 fruits: ['orange', 'grape']
All except first: ['banana', 'orange', 'grape']

List operations

In [ ]:
print(f"Length: {len(fruits)}")
print(f"Contains 'apple': {'apple' in fruits}")
print(f"Index of 'banana': {fruits.index('banana')}")

Length: 6
Contains 'apple': True
Index of 'banana': 3

In [ ]:
coordinates =(10,20)
rgb_color = (255,120,0)
person_info = ("Alice",25,"Engineer",True)

Tuples

In [ ]:
x,y = coordinates
print(f"x: {x}, y: {y}")

x: 10, y: 20

In [ ]:
print(f"count of 25: {person_info.count(25)}")
print(f"Index of 'Engineer': {person_info.index('Engineer')}")

count of 25: 1
Index of 'Engineer': 2

DICTIONARY

In [ ]:
person = {
    "name": "Alice Johnson",
    "age": 23,
    "profession": "Software Engineer",
    "salary": 75000,
    "skills": {"python","javascript","sql"}
}

Accessing values

In [ ]:
print(f"name: {person['name']}")
print(f"age: {person.get('age','unknown')}")

name: Alice Johnson
age: 23

dictionary methods

In [ ]:
print(f"Keys: {list(person.keys())}")
print(f"values: {list(person.values())}")
print(f"items: {list(person.items())}")

Keys: ['name', 'age', 'profession', 'salary', 'skills']
values: ['Alice Johnson', 23, 'Software Engineer', 75000, {'python', 'javascript', 'sql'}]
items: [('name', 'Alice Johnson'), ('age', 23), ('profession', 'Software Engineer'), ('salary', 75000), ('skills', {'python', 'javascript', 'sql'})]

In [ ]:
person["location"]="newyork"
person["salary"]=80000

In [ ]:
inventory={
    "laptops":{
        "quantity":50,
        "price":999.99

    },
    "phones":{
        "quantity":100,
        "price":599.99
    },
    "tablets":{
        "quantity":30,
        "price":399.99
    }
}

NESTED ACCESS

In [ ]:
print(f"laptops price: ${inventory['laptops']['price']}")

laptops price: $999.99

sets

In [ ]:
colors = {"red","green","blue","red"}
print(f"colors: {colors}")

colors: {'red', 'green', 'blue'}

set operations

In [ ]:
team1_skills = {"python","javascript","sql","react"}
team2_skills = {"javascript","sql","java","spring"}

In [ ]:
print(f"comman_skills: {team1_skills.intersection(team2_skills)}")
print(f"all_skills: {team1_skills.union(team2_skills)}")
print(f"team1 only: {team1_skills.difference(team2_skills)}")

comman_skills: {'javascript', 'sql'}
all_skills: {'react', 'java', 'spring', 'sql', 'python', 'javascript'}
team1 only: {'python', 'react'}

Adding to sets

In [ ]:
colors.add("yellow")
colors.update(["purple", "orange"])
print(f"updated colors: {colors}")

updated colors: {'green', 'yellow', 'orange', 'red', 'purple', 'blue'}

conditional statements

In [ ]:
def get_grade_letter(score):
  if score >= 90:
    return "A"
  elif score >= 80:
    return "B"
  elif score >= 70:
    return "C"
  else:
    return "F"

In [ ]:
test_scores = [95,83,72,65,58]
for score in test_scores:
  grade = get_grade_letter(score)
  print(f"Score {score}: Grade {grade}")

Score 95: Grade A
Score 83: Grade B
Score 72: Grade C
Score 65: Grade F
Score 58: Grade F

nested condition

In [ ]:
def get_shipping_cost(weight, distance):
  base_cost =5.0

  if weight <= 1:
    weight_cost = 2.0
  elif weight <= 5:
      weight_cost = 5.0
  else:
    weight_cost = 10.0

  if distance <= 100:
    distance_cost = 1.0
  elif distance <= 500:
    distance_cost = 3.0
  else:
    distance_cost = 7.0
  return base_cost + weight_cost + distance_cost

In [ ]:
print(f"Light, close: ${get_shipping_cost(0.5, 50)}")
print(f"Heavy, far: ${get_shipping_cost(10, 800)}")

Light, close: $8.0
Heavy, far: $22.0

loops

In [ ]:
fruits = ["apple", "banana", "orange","grape"]
for fruit in fruits:
  print(f"I like {fruit}")

I like apple
I like banana
I like orange
I like grape

loop with enumarate

In [ ]:
for i, fruit in enumerate(fruits):
  print(f"{i+1}, {fruit}")

1, apple
2, banana
3, orange
4, grape

loop with range

In [ ]:
for day in range(2, 8):
  print(f"{day} of the week")

2 of the week
3 of the week
4 of the week
5 of the week
6 of the week
7 of the week

nested loops

In [ ]:
print("Multiplication Table")
for i in range(1, 6):
  for j in range(1, 6):
    product = i* j
    print(f"{i} x {j} = {product:2d}", end=" ")
    print()

Multiplication Table
1 x 1 =  1
1 x 2 =  2
1 x 3 =  3
1 x 4 =  4
1 x 5 =  5
2 x 1 =  2
2 x 2 =  4
2 x 3 =  6
2 x 4 =  8
2 x 5 = 10
3 x 1 =  3
3 x 2 =  6
3 x 3 =  9
3 x 4 = 12
3 x 5 = 15
4 x 1 =  4
4 x 2 =  8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
5 x 1 =  5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25

processing data with loops

In [ ]:
sales_data = [
    {"product": "laptop","price":999,"quantity": 5},
    {"product": "phone","price":599,"quantity": 10},
     {"product": "tablet","price":599,"quantity": 8},

]

In [ ]:
total_revenue = 0
for item in sales_data:
  item_revenue = item["price"] * item["quantity"]
  total_revenue += item_revenue
  print(f"{item['product']}: ${item_revenue}")

  print(f"Total Revenue: ${total_revenue}")

laptop: $4995
Total Revenue: $4995
phone: $5990
Total Revenue: $10985
tablet: $4792
Total Revenue: $15777

In [ ]:

def simple_guessing_game():
  target = 7
  guess = 0
  attempts = 0
  print("Guess the number between 1 and 10!")

  while guess != target:

    import random
    guess = random.randint(1, 10)
    attempts += 1

    if guess < target:
       print(f"Guess {attempts}: {guess} - Too low!")
    elif guess > target:
      print(f"Guess {attempts}: {guess} - Too high!")
    else:
      print(f"Guess {attempts}: {guess} - Correct!")

      if attempts > 10:
        print(f"Max attempts reached!")
        break

  print(f"Game Finished in {attempts} attempts")

simple_guessing_game()

Guess the number between 1 and 10!
Guess 1: 4 - Too low!
Guess 2: 2 - Too low!
Guess 3: 1 - Too low!
Guess 4: 10 - Too high!
Guess 5: 4 - Too low!
Guess 6: 4 - Too low!
Guess 7: 10 - Too high!
Guess 8: 1 - Too low!
Guess 9: 1 - Too low!
Guess 10: 6 - Too low!
Guess 11: 4 - Too low!
Guess 12: 3 - Too low!
Guess 13: 8 - Too high!
Guess 14: 4 - Too low!
Guess 15: 9 - Too high!
Guess 16: 2 - Too low!
Guess 17: 9 - Too high!
Guess 18: 5 - Too low!
Guess 19: 9 - Too high!
Guess 20: 5 - Too low!
Guess 21: 3 - Too low!
Guess 22: 10 - Too high!
Guess 23: 3 - Too low!
Guess 24: 8 - Too high!
Guess 25: 3 - Too low!
Guess 26: 2 - Too low!
Guess 27: 1 - Too low!
Guess 28: 2 - Too low!
Guess 29: 7 - Correct!
Max attempts reached!
Game Finished in 29 attempts

while loop for processing

In [ ]:
def process_queue():
  queue = ["task 1", "task 2", "task 3","task 4"]

  while queue:
    current_task = queue.pop(0)
    print(f"processing: {current_task}")

    print(f"remaining tasks: {len(queue)}")

  print("All tasks completed!")

process_queue()

processing: task 1
remaining tasks: 3
processing: task 2
remaining tasks: 2
processing: task 3
remaining tasks: 1
processing: task 4
remaining tasks: 0
All tasks completed!

functions

In [ ]:
def greet(name):
  return f"hello,{name}!"

In [ ]:
message=greet("python message")
print(message)

hello,python message!

function with multiple parameters

In [ ]:
def calculate_area(length, width):
  area = length * width
  return area

In [ ]:
room_area = calculate_area(12, 10)
print(f"room area: {room_area} square feet")

room area: 120 square feet

function with default parameters

In [ ]:
def create_user_profile(name="anu", age=18, location="unknown", active="max"):
  return {
    "name": name,
    "age": age,
    "location": location,
    "active": active
  }

function returning multiple values

In [ ]:
def analyze_text(text):
  words = text.split()
  word_count = len(words)
  char_count = len(text)
  char_count_no_spaces = len(text.replace(" ",""))

  return word_count, char_count, char_count_no_spaces

In [ ]:
sample_text = "python is a powerful programming language"

words, chars, chars_no_space = analyze_text(sample_text)

print(f"text: '{sample_text}'")
print(f"word count: {words}")
print(f"character count: {chars}")
print(f"characters (no spaces): {chars_no_space}")

text: 'python is a powerful programming language'
word count: 6
character count: 41
characters (no spaces): 36

variable length  arguments

In [ ]:
def calculate_average(*numbers):
  if not numbers:
    return 0
  return sum(numbers)/len(numbers)

In [ ]:
avg1 = calculate_average(10, 20, 30)
avg2 = calculate_average(5, 15, 25, 35, 45)
avg3 = calculate_average(100)
print(f"average of 10,20,30:{avg1}")
print(f"average of 5,15,25,45:{avg2}")
print(f"average of 100:{avg3}")

average of 10,20,30:20.0
average of 5,15,25,45:25.0
average of 100:100.0

keyword arguments

In [ ]:
def create_report(**data):
  print("=== REPORT ===")

  for key, value in data.items():
    print(f"{key.replace('_','').title()}: {value}")

  print("===============")

create_report(
    title="Monthly Sales Report",
    date="2024-01-01",
    total_sales=15000,
    new_customers=25,
    returning_customers=150
)

=== REPORT ===
Title: Monthly Sales Report
Date: 2024-01-01
Totalsales: 15000
Newcustomers: 25
Returningcustomers: 150
===============

regular function

In [ ]:
def square(X):
  return x ** 2

In [ ]:
square_lambda = lambda X: X ** 2
print(f"Regular function: {square(5)}")
print(f"Lambda function: {square_lambda(5)}")

Regular function: 25
Lambda function: 25

In [ ]:
multiply = lambda x, y: x * y
print(f"Multiply: {multiply(3, 4)}")

Multiply: 12

In [ ]:
numbers = [1,2,3,4,5]
squared = list(map(lambda x: x**2,numbers))
print(f"Squared numbers: {squared}")

Squared numbers: [1, 4, 9, 16, 25]

Filtering with lambda

In [ ]:
ages = [16,21,35,12,45,18,67]
adults = list(filter(lambda age: age >= 18, ages))
print(f"Adult ages: {adults}")

Adult ages: [21, 35, 45, 18, 67]

In [ ]:
people = [
    {"name": "Alice", "Bob", "age":30},
    {"name": "Bob", "age": 25},
    {"name": "Charlie", "age":35}

]
sorted_people = sorted(
    people,
    key=lambda person: person["age"])
print("people sorted by age:")

for person in sorted_people:
  print(f"{person['name']}: {person['age']}")
 )

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 14)